html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}
.login_form {
    align-items: center;
    justify-content: center;
}

.login_card {
    vertical-align: middle;
    padding: 24px;
    flex: none;
}

.mdl-layout-title {
    padding-left: 0px !important;
}

#page-content {
    height: calc(88vh) !important;
}

#messages {
    overflow-y: scroll;
    margin-bottom: 10px;
    height: calc(70vh) !important;
}

.message-container:first-of-type {
    border-top-width: 0;
}
.message-container {
    display: block;
    margin-top: 10px;
    border-top: 1px solid #f3f3f3;
    padding-top: 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.message-container.visible {
    opacity: 1;
}

.message-container .message {
    display: table-cell;
    width: calc(100% - 40px);
    padding: 5px 0 5px 10px;
}
.message-container .sender {
    display: inline-flex;
    width: calc(100% - 40px);
    padding: 5px 0 5px 10px;
    color: #BBBBBB;
    font-style: italic;
    font-size: 12px;
    box-sizing: border-box;
}

#enter_message_form {
    height: calc(10vh) !important;
}

#message-form .mdl-textfield {
    width: calc(50vw);
}

#message-form button {
    width: calc(10vw);
    margin: 0 0 0 10px;
    padding: 0 0 0 0;
}
